<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

    <bean id="tournamentService" class="org.cherchgk.services.TournamentServiceImpl">
        <constructor-arg ref="teamService"/>
    </bean>
    <bean id="teamService" class="org.cherchgk.services.TeamServiceImpl"/>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="database" value="H2"/>
                <property name="showSql" value="true"/>
                <property name="generateDdl" value="true"/>
            </bean>
        </property>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:~/chgktournaments"/>
        <property name="username" value="chgk"/>
        <property name="password" value="chgk"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <context:annotation-config/>

    <bean class="org.cherchgk.utils.EntityManagerProvider" scope="singleton" lazy-init="false"/>

    <bean class="org.cherchgk.services.SecurityService" scope="singleton"/>

    <bean class="org.cherchgk.security.InitSecurityBean" scope="singleton"/>

    <bean id="tournamentListAction" scope="prototype" class="org.cherchgk.actions.tournament.TournamentListAction">
        <constructor-arg ref="tournamentService"/>
    </bean>

    <bean id="editTournamentAction" scope="prototype" class="org.cherchgk.actions.tournament.EditTournamentAction">
        <constructor-arg ref="tournamentService"/>
    </bean>

    <bean id="deleteTournamentAction" scope="prototype" class="org.cherchgk.actions.tournament.DeleteTournamentAction">
        <constructor-arg ref="tournamentService"/>
    </bean>

    <bean id="tournamentInfoAction" scope="prototype" class="org.cherchgk.actions.tournament.TournamentInfoAction">
        <constructor-arg ref="tournamentService"/>
    </bean>

    <bean id="editTournamentResultAction" scope="prototype"
          class="org.cherchgk.actions.tournament.result.EditTournamentResultAction">
        <constructor-arg ref="tournamentService"/>
        <constructor-arg ref="teamService"/>
    </bean>

    <bean id="showTournamentResultAction" scope="prototype"
          class="org.cherchgk.actions.tournament.result.ShowTournamentResultAction">
        <constructor-arg ref="tournamentService"/>
        <constructor-arg ref="teamService"/>
    </bean>

    <bean id="newTeamAction" scope="prototype" class="org.cherchgk.actions.team.NewTeamAction">
        <constructor-arg ref="tournamentService"/>
    </bean>

    <bean id="teamInfoAction" scope="prototype" class="org.cherchgk.actions.team.TeamInfoAction">
        <constructor-arg ref="teamService"/>
    </bean>

    <bean id="editTeamAction" scope="prototype" class="org.cherchgk.actions.team.EditTeamAction">
        <constructor-arg ref="tournamentService"/>
        <constructor-arg ref="teamService"/>
    </bean>

    <bean id="deleteTeamAction" scope="prototype" class="org.cherchgk.actions.team.DeleteTeamAction">
        <constructor-arg ref="teamService"/>
    </bean>

    <bean id="editAnswerVerdictAction" scope="prototype"
          class="org.cherchgk.actions.tournament.result.EditAnswerVerdictAction">
        <constructor-arg ref="teamService"/>
    </bean>

    <bean id="userListAction" class="org.cherchgk.actions.user.UserListAction">
        <constructor-arg ref="org.cherchgk.services.SecurityService"/>
    </bean>

    <bean id="editUserAction" scope="prototype" class="org.cherchgk.actions.user.EditUserAction">
        <constructor-arg ref="org.cherchgk.services.SecurityService"/>
    </bean>

    <bean id="deleteUserAction" scope="prototype" class="org.cherchgk.actions.user.DeleteUserAction">
        <constructor-arg ref="org.cherchgk.services.SecurityService"/>
    </bean>

    <bean id="userInfoAction" scope="prototype" class="org.cherchgk.actions.user.UserInfoAction">
        <constructor-arg ref="org.cherchgk.services.SecurityService"/>
    </bean>
</beans>